body,
html {
	font-family: Archivo Narrow, sans-serif;
	font-size: 60%;
	height: 100%;
	margin: 0;
}
@media (min-width: 56.25em) {
	body,
	html {
		font-size: 65%;
	}
}
strong {
	color: #ff5a00;
}
a {
	-webkit-tap-highlight-color: transparent;
}
textarea {
	height: 32vh;
}
.heading-primary {
	margin-top: 0;
	color: #f1f1f1;
	text-align: center;
	font-size: 3.2rem;
	font-weight: 100;
}
.heading-primary--dark {
	color: #000;
}
.heading-primary:after {
	display: block;
	height: 2px;
	background-color: #ff5a00;
	content: "";
	width: 100px;
	margin: auto;
	margin-top: 10px;
}
.icons-small {
	width: 60%;
	height: 60%;
	margin: auto;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
@media (min-width: 37.5em) {
	.icons-small {
		width: auto;
		height: auto;
	}
}
@keyframes a {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(2rem);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes b {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes c {
	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}
.U-dark {
	color: #000 !important;
}
.U-center {
	text-align: center;
}
.U-pad-bottom {
	padding-bottom: 2rem;
}
.U-pad-top {
	padding-top: 2rem;
}
@media (min-width: 75em) {
	.U-marginRight-shrink {
		margin-right: -10rem;
	}
}
@media (min-width: 75em) {
	.U-marginLeft-shrink {
		margin-Left: -10rem;
	}
}
.header {
	max-width: 100%;
	height: 100vh;
	background: rgb(23, 4, 26);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}
.header__text-box {
	font-size: 2rem;
	display: -ms-flexbox;
	color: #f1f1f1;
	 margin: auto;
   	 width: 70%;
    	text-align: center;
}
.header__text-box-img{
	width: 220px;
	border-radius: 49%;
	background-color: white;
	display: block;
	margin: auto;
	margin-top: 4rem;
}
.header__text-box-para {
	line-height: 1.5;
	font-weight: 100;
	letter-spacing: 2px;
	animation-name: a;
	animation-duration: 2s;
	animation-delay: .1s;
	margin: auto;
	margin-top: 4rem;
}
@media (min-width: 75em) {
	.header__text-box-para {
		width: 50%;
		line-height: 1.8;
	}
}
.nav-overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right top, rgba(23, 4, 26, .7), rgba(0, 0, 0, .7)),url(../../assets/images/header-backgroundTwo2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	overflow-x: hidden;
	transition: .5s;
}
.nav-overlay__content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 3rem;
	letter-spacing: 2px;
	animation-name: b;
	animation-duration: 2s;
	animation-delay: .1s;
}
.nav-overlay__content-link {
	padding: 8px;
	text-decoration: none;
	font-size: 3.6rem;
	color: #f1f1f1;
	display: block;
	transition: .3s;
}
.nav-overlay__content-link:focus,
.nav-overlay__content-link:hover {
	color: #818181;
}
.nav-overlay-closebtn {
	position: absolute;
	top: -8px;
	right: 10px;
	font-size: 60px;
	padding: 8px;
	text-decoration: none;
	color: #f1f1f1;
	display: block;
	transition: .3s;
}
.nav-open {
	display: -ms-flexbox;
	display: flex;
	color: #f1f1f1;
	padding: 1.5rem;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.nav-icons {
	margin-top: 7rem;
	display: inline-block;
}
.container {
	width: 100%;
}
.row {
	display: block;
}
@media (min-width: 37.5em) {
	.row {
		display: -ms-flexbox;
		display: flex;
	}
}
.row:not(:last-child) {
	margin-bottom: 2rem;
}
.column-1-2 {
	-ms-flex: 1;
	flex: 1;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}
@media (min-width: 56.25em) {
	.column-1-2 {
		padding: 2.5rem;
	}
}
.column-1-3 {
	display: block;
	padding: 5px;
}
@media (min-width: 37.5em) {
	.column-1-3 {
		-ms-flex: 1;
		flex: 1;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 2.5rem;
	}
}
.column-1-4 {
	display: -ms-inline-flexbox;
	display: inline-flex;
}
@media (min-width: 37.5em) {
	.column-1-4 {
		-ms-flex: 1;
		flex: 1;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 2.5rem;
	}
}
.contact {
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7));
	background-size: cover;
	background-repeat: no-repeat;
}
.contact-form {
	text-align: center;
}
.contact-form__body {
	display: -ms-flexbox;
	display: flex;
	padding: 3em;
	-ms-flex-pack: center;
	justify-content: center;
}
.contact-form__body-addon {
	background-color: #e3e3e3;
	padding: 1rem;
	font-size: 2rem;
}
.contact-form__body-input {
	width: 70%;
}
@media (min-width: 56.25em) {
	.contact-form__body-input {
		width: 50%;
	}
}
@media (min-width: 75em) {
	.contact-form__body-input {
		width: 45%;
	}
}
.contact-form__body-input:focus {
	outline: 0;
	border: 1px solid #ff5a00;
}
.project {
	background: linear-gradient(to right bottom, rgb(23, 4, 26), rgb(23, 4, 26, 0.9));
	background-size: cover;
	color: #f1f1f1;
	 overflow: hidden;
}
.project-detail {
	width: 70%;
	overflow: hidden;
}
.project-detail__site {
	background-size: cover;
	background-position: 50%;
	padding: 12rem;
	width: 22%;
	margin: auto;
	margin-bottom: 2rem;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, .15);
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	opacity: 0;
}
.project-detail__site--1 {
	background-image: url(../../assets/images/errand4me1.JPG);
}
.project-detail__site--2 {
	background-image: url(../../assets/images/TechyHub2.JPG);
}
.project-detail__site--3 {
	background-image: url(../../assets/images/montessori.jpg);
}
.project-detail__site--4 {
	background-image: url(../../assets/images/DailyPlanner.JPG);
}
.project-detail__site--5 {
	background-image: url(../../assets/images/skada.jpg);
}
.project-detail__site--6 {
	background-image: url(../../assets/images/bookInventory.jpg);
}
@media (min-width: 56.25em) {
	.project-detail__site {
		background-position: 50%;
		padding: 12rem;
		width: 30%;
		height: 10rem;
		margin-bottom: 0;
	}
}
.project-detail__description {
	font-size: 2rem;
	font-weight: 100;
	display: none;
	margin: 2rem;
}
@media (min-width: 37.5em) {
	.project-detail__description {
		display: block;
		margin-top: 20%;
	}
}
@media (min-width: 56.25em) {
	.project-detail__description {
		padding: 4rem;
	}
}
@media (min-width: 75em) {
	.project-detail__description {
		margin-top: 5%;
		padding: 13rem;
	}
}
.skills {
	padding: 5rem;
	background-color: #f7f7f7;
}
.icon {
	font-size: 11rem;
}
.btn {
	padding: 5px;
	border-radius: 20px;
	width: 25%;
	font-size: 2rem;
	background-color: transparent;
	border: 1px solid #ff5a00;
	color: #ff5a00;
	transition: background-color .2s, border .2s, color .2s;
	text-decoration: none;
}
@media (min-width: 37.5em) {
	.btn {
		width: 20%;
	}
}
@media (min-width: 56.25em) {
	.btn {
		width: 15%;
	}
}
@media (min-width: 75em) {
	.btn {
		width: 8%;
	}
}
.btn:active {
	outline: none;
	transform: translateY(-2px);
}
.btn:hover {
	background-color: #ff5a00;
	color: #f1f1f1;
}
.btn--form {
	margin-top: 2rem;
}
@media (min-width: 56.25em) {
	.btn--form {
		margin-top: 2rem;
	}
}
@media (min-width: 75em) {
	.btn--form {
		margin-top: 4rem;
	}
}
.btn--arrow {
	display: inline-block;
	padding: 0 12px;
	margin-top: 5px;
}
@media (min-width: 56.25em) {
	.btn--arrow {
		padding: 0 22px;
	}
}
.btn--small-Screen {
	position: absolute;
	top: 70%;
	right: 5%;
	background: linear-gradient(to right bottom, hsla(0, 0%, 9%, .95), rgba(0, 0, 0, .78));
	background-color: #ff5a00;
	color: #f1f1f1;
	border: none;
}
@media (min-width: 37.5em) {
	.btn--small-Screen {
		display: none;
	}
}
.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 2;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}
@media (min-width: 37.5em) {
	.popup {
		display: none;
	}
}
.popup:target {
	opacity: 1;
	visibility: visible;
}
.popup:target .popup__content {
	opacity: 1;
	transform: scale(1);
	padding: 1.2rem;
}
.popup__content {
	position: relative;
	width: 80%;
	height: 30rem;
	background-color: #f7f7f7;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
	border-radius: 4px;
	transform: scale(.25);
	transition: all .4s .2s;
	font-size: 1.8rem;
}
.popup__content h2 {
	font-size: 2rem;
}
.popup__content--decription {
	padding-top: 1.5rem;
	margin-bottom: 12rem;
}
.popup__close:link,
.popup__close:visited {
	position: absolute;
	top: 5px;
	right: 2.5rem;
	font-size: 3.2rem;
	color: #000;
	text-decoration: none;
	display: inline-block;
	transition: all .2s;
}
.popup__close:hover {
	color: #ff5a00;
}
.reveal-site {
	opacity: 0;
	transition: all 1.5s ease-in;
	transform: scale(1.15);
}
.reveal-site--visible {
	opacity: 1;
	transform: scale(1);
}
.reveal-icons {
	opacity: 0;
}
.reveal-icons--visible {
	opacity: 1;
	animation-name: c;
	animation-duration: 2s;
}
.section-footer {
	background: linear-gradient(to right bottom, rgba(0, 0, 0, .95), rgba(0, 0, 0, .78));
	padding: 4rem;
	color: #f7f7f7;
	font-size: 1.5rem;
}
.section-footer__link {
	text-decoration: none;
	color: #f7f7f7;
	padding-left: 2rem;
}
